.deals {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  .deals_header {
    display: flex;
    justify-content: space-between;
    > h2 {
      font-family: Quicksand;
      font-weight: 700;
      font-size: 3.2rem;
      line-height: 3.84rem;
      color: #253d4e;
    }
    a {
      font-family: Lato;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: #7e7e7e;
      text-decoration: none;
      > img {
        padding-left: 0.8rem;
      }
    }
  }
  .deals_grid {
    display: grid;
    gap: 2.3rem;
    margin-top: 5rem;
    grid-template-columns: repeat(auto-fill, minmax(379px, 1fr));
    .deals_item {
      border-radius: 1.5rem;
      position: relative;
      > img {
        width: 37.85rem;
        height: 33.517rem;
        border-radius: 1.5rem;
        border: solid 1px black;
      }
      .deals_item_text {
        position: absolute;
        height: 19.238rem;
        top: 24.517rem;
        left: 2.65rem;
        border-radius: 1rem;
        background-color: #ffffff;
        box-shadow: 5px 5px 15px 0px #0000000d;
        padding: 2.7rem 3.1rem 2.7rem 3.1rem;
        h5 {
          width: 25.948rem;
          font-family: Quicksand;
          font-weight: 700;
          font-size: 1.6rem;
          line-height: 1.92rem;
          color: #253d4e;
        }
        p {
          &:nth-of-type(1) {
            display: inline;
            font-family: Lato;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 2.4rem;
            color: #b6b6b6;
          }
          &:nth-of-type(2) {
            font-family: Lato;
            font-weight: 400;
            font-size: 1.4rem;
            color: #b6b6b6;
            margin: 0.9rem 0;
            span {
              font-family: Lato;
              font-weight: 400;
              font-size: 1.4rem;
              line-height: 2.4rem;
              color: #3bb77e;
            }
          }
        }
      }
      .deals_item_bottom {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        h4 {
          font-family: Quicksand;
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 2.4rem;
          color: #3bb77e;
          padding-right: 1.1rem;
        }
        > p {
          font-family: Quicksand;
          font-weight: 700;
          font-size: 1.4rem;
          line-height: 2.4rem;
          text-decoration: line-through;
          color: #adadad;
          padding-right: 6.9rem;
        }
        > button {
          border-radius: 0.4rem;
          border: none;
          background-color: #f53e32;
          color: #ffffff;
          padding: 1rem 2rem;
        }
      }
    }
  }
}
