.filter {
  color: black;
  font-weight: 500;
  background-color: #f7f7f8;
  /* width: 306px; */
  width: 100%;
  max-width: 25rem;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #e9e9e9;
  padding: 2.5rem;
  transition: transform 0.3s ease;

  .heading {
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
  }

  .divider {
    height: 1px;
    border: none;
    background-color: #e9e9e9;
  }

  .categoryList {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 3rem;
    font-weight: 400;
    margin-bottom: 3rem;

    .categoryItem {
      font-size: 1.4rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: #7a7a7a;

      .categoryItemContent {
        display: flex;
        align-items: center;
        gap: 1rem;
        letter-spacing: 0.1rem;
      }
    }
  }

  .priceFilter {
    margin-bottom: 4rem;

    .priceSlider {
      padding: 1.6rem 0;
      width: 100%;
      -webkit-appearance: none;
      appearance: none;
      height: 2px;
      background: #e9e9e9;
      outline: none;
      opacity: 0.7;
      transition: opacity 0.2s;

      &:hover {
        opacity: 1;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        background: #f53e32;
        border-radius: 50%;
        cursor: pointer;
      }

      &::-moz-range-thumb {
        width: 20px;
        height: 20px;
        background: #f53e32;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    .priceText {
      font-size: 1.6rem;
      font-weight: 800;
      margin-top: 1rem;
    }

    .filterButton {
      margin-top: 2rem;
      color: white;
      width: 80px;
      height: 40px;
      border-radius: 5px;
      border: 1px solid #64b496;
      background: #f53e32;
      font-size: 1.6rem;
      cursor: pointer;

      &:hover {
        background-color: #7e1811;
      }
    }
  }

  .ageSelect {
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    font-size: 1.4rem;
    color: #7a7a7a;
    background-color: white;
    cursor: pointer;

    &:focus {
      outline: none;
      border-color: #f53e32;
    }
  }
}

@media screen and (max-width: 480px) {
  .filter {
    max-width: 10rem;
    padding: 1rem;
  }
}

/* @media screen and (max-width: 1024px) {
  .filter {
    width: 90%;
    margin: 1rem auto;
    transform: translateX(-100%);

    &.visible {
      transform: translateX(0);
    }
  }
} */
