.people {
  text-align: center;
  padding: 60px 20px;
  background-color: var(--cardBorder);

  h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--black-like);
  }

  p {
    font-size: 1rem;
    color: var(--amountItemsFiltered);
    max-width: 800px;
    margin: 0 auto 30px;
  }

  .people_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;

    .people_item {
      background-color: var();
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      .img-container {
        width: 100px;
        height: 100px;
        margin-bottom: 15px;
        overflow: hidden;
        border-radius: 50%;
        margin: 0 auto;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .people-text-container {
        text-align: center;
        h6 {
          font-size: 1rem;
          color: var(--amountItemsFiltered);
          margin-bottom: 10px;
        }

        h5 {
          font-size: 1.3rem;
          font-weight: 600;
          margin-bottom: 10px;
        }

        p {
          font-size: 1rem;
          color: var(--amountItemsFiltered);
          margin-bottom: 10px;
        }

        p:last-child {
          font-size: 2rem;
          color: var(--black-like);
          font-weight: bold;
        }
      }
    }
  }
}
