.userNav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  padding: 2.2rem 0;
  border-bottom: var(--cardBorder) solid 1px;
  .userNavContent {
    display: flex;
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    /* background-color: lightblue; */

    a {
      img {
        height: 6.2rem;
      }
    }

    ul {
      display: flex;
      gap: 3rem;
      li {
        position: relative;
        a {
          text-decoration: none;
          color: var(--black-like);
          i {
            height: 2.1rem;
            width: 2.1rem;
            padding-right: 1rem;
          }
        }
        .quantity {
          position: absolute;
          left: 1rem;
          bottom: -0.6rem;
          color: red;
          font-size: small;
          padding: 0;
          background-color: rgba(255, 255, 255, 0.637);
          padding: 0.2rem;
          border-radius: 1rem;
        }
      }
    }
  }
}
