@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap");

:root {
  font-family: Poppins, sans-serif;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

div.userNav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 8.6rem;
  font-size: 1.5rem;
  padding-top: 1.4rem;
  border-bottom: #e9e9e9 solid 1px;
  a {
    img {
      height: 6.2rem;
    }
  }
  div.search {
    height: 4.5rem;
    position: relative;
    input {
      border: 1px solid #64b496;
      height: 4.5rem;
      &:nth-of-type(1) {
        width: 40rem;
        border-radius: 5px 0 0 5px;
      }
      &:nth-of-type(2) {
        width: 13rem;
      }
    }
    > i {
      position: absolute;
      right: 6rem;
      top: 40%;
    }
    button {
      background-color: #f53e32;
      color: white;
      border: none;
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
    }
  }
  ul {
    display: flex;
    gap: 3rem;
    li {
      a {
        text-decoration: none;
        color: black;
        i {
          height: 2.1rem;
          width: 2.1rem;
          padding-right: 1rem;
        }
      }
    }
  }
}
