header {
  background-color: #ffffff;
  nav {
    display: flex;
    align-items: center;

    height: 5.5rem;
    box-shadow: 0px 0px 3px 1px rgba(43, 43, 45, 0.15);
    .headerMainNavContent {
      margin: 0 auto;
      display: flex;
      width: 100%;
      justify-content: space-between;
      gap: 2rem;
      align-items: center;
      max-width: 1380px;
      font-size: 1.5rem;
      font-family: "Quicksand", sans-serif;
      .menuIcon {
        a {
          text-decoration: none;
          color: var(--black-like);
          border: 1px solid rgba(233, 233, 233, 1);
          height: 3.5rem;
          width: 3.5rem;
          border-radius: 0.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      ul {
        display: flex;
        line-height: 21px;
        gap: 4rem;

        li {
          select {
            border: none;
            font-size: 1.5rem;
            color: var(--black-like);
            cursor: pointer;
            background: transparent;
            font-family: inherit;
            appearance: none;
            padding: 0;
          }

          a {
            text-decoration: none;
            color: var(--black-like);
            font-size: 1.5rem;
          }
        }
      }

      .phone {
        height: 2rem;

        a {
          text-decoration: none;
          color: var(--black-like);
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }
      }
    }
  }
}
