@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap");

:root {
  font-family: Poppins, sans-serif;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

header {
  background-color: #ffffff;
  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5.5rem;
    font-size: 1.4rem;
    box-shadow: 0px 0px 8px 0px #33333333;

    div.menuIcon {
      a {
        text-decoration: none;
        color: black;
        border: 1px solid rgba(233, 233, 233, 1);
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    ul {
      display: flex;
      line-height: 21px;
      gap: 4rem;

      li {
        select {
          font-family: Poppins, sans-serif;
          border: none;
        }
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
    div.phone {
      height: 2rem;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
