div.userNav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 8.6rem;
  font-size: 1.5rem;
  padding-top: 1.4rem;
  border-bottom: var(--cardBorder) solid 1px;
  a {
    img {
      height: 6.2rem;
    }
  }
  div.search {
    height: 4.5rem;
    position: relative;
    input {
      border: 1px solid var(--borderButtonGreen);
      height: 4.5rem;
      width: 40rem;
      border-radius: 5px 0 0 5px;
    }
    select {
      border: 1px solid var(--borderButtonGreen);
      height: 4.5rem;
      width: 13rem;
      cursor: pointer;
      padding-left: 1rem;
    }

    button {
      background-color: var(--navTop);
      color: white;
      border: none;
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
    }
  }
  ul {
    display: flex;
    gap: 3rem;
    li {
      a {
        text-decoration: none;
        color: var(--black-like);
        i {
          height: 2.1rem;
          width: 2.1rem;
          padding-right: 1rem;
        }
      }
    }
  }
}
