.landingPage {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  > div {
    padding: 2.5rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
