.landingPage {
  width: 100vw;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  > div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
