.modal {
  /* display: none; */
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9); /* Background color with opacity */
}

.modalContentWrapper {
  position: relative;
  margin: auto;
  display: block;
  max-width: 700px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

/* .close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
} */

.modalContent {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  animation: zoom 0.6s; /* Apply animation */
}

#caption {
  color: #ccc;
  text-align: center;
  font-size: 20px;
  padding: 10px;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media only screen and (max-width: 700px) {
  .modalContent {
    width: 100%;
  }
}
