.news {
  padding: 2rem;
  width: 100%;
  justify-content: space-between;
  height: 100%;

  h2 {
    font-weight: 600;
    font-size: 2.4rem;
    letter-spacing: 0.48px;
    color: var(--black-like);
    text-align: center;
    margin-bottom: 1.6rem;
  }

  > p {
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 0.48px;
    color: var(--amountItemsFiltered);
    text-align: center;
    margin-bottom: 3.2rem;
  }

  .newsGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
    gap: 2rem;
    .newsItem {
      border-radius: 0.5rem;
      background-color: var(--filter);
      overflow: hidden;
      border: 1px solid var(--cardBorder);
      display: flex;
      flex-direction: column;
      height: 100%;

      .newsItemText {
        padding: 3.4rem 2.6rem 3.1rem 2.6rem;
        flex-grow: 1;

        p {
          font-weight: 400;
          font-size: 1.4rem;
          letter-spacing: 0.48px;
          color: var(--amountItemsFiltered);
          text-align: left;
        }

        h5 {
          font-weight: 600;
          font-size: 1.7rem;
          letter-spacing: 0.48px;
          color: var(--black-like);
          padding: 2.1rem 0 2.3rem 0;
        }

        a {
          font-weight: 700;
          font-size: 1.4rem;
          letter-spacing: 0.48px;
          color: var(--borderButtonGreen);
          text-decoration: none;
        }
      }

      .news_img_container {
        position: relative;
        width: 100%;
        max-height: 27.5rem;
        overflow: hidden;
        border-radius: 0 0 5px 5px;
        margin-top: auto;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
          position: relative;
          z-index: 2;
          &:nth-of-type(1) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.3;
            z-index: 1;
          }
        }

        .date {
          position: absolute;
          right: 1.3rem;
          bottom: 1.3rem;
          border-radius: 0.5rem;
          background-color: var(--black-like);
          opacity: 0.8;
          display: flex;
          flex-direction: column;
          z-index: 3;
          align-items: center;
          padding: 1.5rem;

          p {
            margin: 0;
            &:nth-of-type(1) {
              font-family: "Arial", sans-serif;
              font-weight: 700;
              font-size: 2.3rem;
              line-height: 2.53rem;
              letter-spacing: 0.48px;
              color: var(--filter);
            }

            &:nth-of-type(2) {
              font-family: "Manrope", sans-serif;
              font-weight: 400;
              font-size: 1.7rem;
              line-height: 1.87rem;
              letter-spacing: 0.48px;
              color: var(--filter);
            }
          }
        }
      }
    }
  }
}
