.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 2.4rem;
  margin: 0 auto;
  width: 100%;
}

.listView {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 0.5rem;
  }
}
