.product-tabs {
  grid-area: tabs;
  margin-top: 2rem;
  border: 1px solid var(--cardBorder);
  border-radius: 0.5rem;
  padding: 2rem;

  .tab-buttons {
    display: flex;
    gap: 2rem;
    border-bottom: 1px solid var(--cardBorder);
    margin-bottom: 2rem;
    padding-bottom: 1rem;

    button {
      padding: 1rem 2rem;
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1.6rem;
      font-weight: 600;
      color: var(--black-like);
      transition: all 0.3s ease;
      position: relative;
      /* letter-spacing: 0.1rem; */

      &.active {
        color: var(--navTop);

        &::after {
          content: "";
          position: absolute;
          bottom: -1rem;
          left: 0;
          width: 100%;
          height: 0.2rem;
          background-color: var(--borderButtonRed);
        }
      }
    }
  }

  .tab-content {
    .description {
      display: none;

      &.active {
        display: block;
      }

      h3 {
        font-size: 1.8rem;
        font-weight: 600;
        margin: 3rem 0 1.5rem;
        /* letter-spacing: 0.1rem; */
        color: var(--black-like);

        &:first-child {
          margin-top: 0;
        }

        & + p,
        & + ul {
          margin-top: 3rem;
        }
      }

      p {
        color: var(--amountItemsFiltered);
        line-height: 1.6;
        font-size: 1.4rem;
        margin-bottom: 2rem;
      }

      .component-list {
        list-style: disc;
        margin-left: 2rem;
        margin-bottom: 2rem;
        color: var(--amountItemsFiltered);
        font-size: 1.4rem;

        li {
          margin-bottom: 0.8rem;
        }
      }

      h3 {
        padding-bottom: 2rem;
        border-bottom: 1px solid var(--cardBorder);
      }

      h3:nth-child(2n + 2),
      h3:nth-child(2n + 4),
      h3:nth-child(2n + 6) {
        margin-top: 3rem;
      }
    }
  }

  @media (max-width: 768px) {
    .tab-buttons {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
