.shopNowSection {
  width: 100%;
  box-sizing: border-box;
  .shopNowCards {
    display: flex;
    justify-content: space-between;
    div {
      width: 32%;
      height: 30rem;
      border-radius: 1rem;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 1rem;
      &:nth-of-type(1) {
        background-color: #827877;
      }
      &:nth-of-type(2) {
        background-color: #b1bce0;
      }
      &:nth-of-type(3) {
        background-color: #b4df84;
      }
      img {
        display: block;
        width: 200px;
        height: 200px;
        position: relative;
      }
      h3 {
        width: 50%;
        max-width: 25rem;
        position: absolute;
        top: 25%;
        left: 48%;
        font-size: 2.4rem;
        line-height: 2.88rem;
        font-weight: 700;
      }
      button {
        position: absolute;
        bottom: 18%;
        left: 48%;
        color: white;
        width: 15rem;
        height: 5rem;
        background-color: var(--navTop);
        border-radius: 5px;
        border: none;
        transition: all 200ms;
        cursor: pointer;
        font-size: 1.8rem;
        &:hover {
          background-color: var(--buttonHover);
          color: white;
        }
      }
    }
  }
}
