.shopNowSection {
  width: fit-content;
  margin: 0 auto;
  .shopNowCards {
    position: relative;
    display: flex;
    gap: 3rem;

    div {
      &:nth-of-type(1) {
        background-color: #827877;
      }
      &:nth-of-type(2) {
        background-color: #b1bce0;
      }
      &:nth-of-type(3) {
        background-color: #b4df84;
      }
      width: 512px;
      height: 300px;
      border-radius: 10px;
      position: relative;
      img {
        display: block;
        object-fit: cover;
        width: 200px;
        width: 200px;
        position: absolute;
        top: 4rem;
        left: 3rem;
      }
      p {
        width: 25rem;
        text-align: center;
        position: absolute;
        top: 25%;
        left: 48%;
        font-size: 2.5rem;
        line-height: 3.4rem;
        font-weight: 700;
      }
      button {
        position: absolute;
        bottom: 18%;
        right: 13%;
        color: white;
        width: 15rem;
        height: 5rem;
        background-color: var(--navTop);
        border-radius: 5px;
        border: none;
        transition: all 200ms;
        cursor: pointer;
        font-size: 1.8rem;
        &:hover {
          background-color: var(--buttonHover);
          color: white;
        }
      }
    }
  }
}
