@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  font-size: 62.5%;
  font-family: "Manrope", serif;
  --navTop: #f53e32;
  --buttonHover: #7e1811;
  --cardBorder: #e9e9e9;
  --filter: #f7f7f8;
  --borderButtonRed: #64b496;
  --amountItemsFiltered: #7a7a7a;
  --tagHover: #6e6e6e;
  --crudFont: #444444;
}
* {
  box-sizing: border-box;
}

.headerNav {
  height: 70px;
  background-color: var(--navTop);
  margin-bottom: 10rem;
  nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    height: 100%;
    max-width: 1380px;
    font-family: "Manrope", serif;
    font-weight: 600;
    font-size: 1.9rem;
    letter-spacing: 1px;

    a {
      text-decoration: none;
      color: white;
      transition: all 200ms;
      &:hover {
        color: var(--buttonHover);
      }
    }
    div {
      font-size: 1.4rem;
      font-weight: 500;
      color: white;
    }
  }
}
.shoppingCartCrud {
  margin: 0 auto;
  max-width: 1380px;
  height: 672px;
  .crud {
    margin: 0 auto;
    height: auto;
    border-radius: 0.5rem;
    border: 1px solid var(--cardBorder);
    background-color: var(--filter);
    color: black;
    table {
      width: 100%;
      text-align: left;
      .tableHead {
        background-color: var(--cardBorder);
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--crudFont);
        td {
          padding: 2rem 1.9rem 2rem 2rem;
          text-align: center;
          &:nth-child(1) {
            text-align: left;
          }
        }
      }
      tbody {
        .tableData {
          color: var(--amountItemsFiltered);
          /* background-color: lightblue; */
          text-align: center;
          font-size: 1.5rem;
          td {
            padding: 2rem;
          }
          .productCartImage {
            /* background-color: lime; */
            width: 0px;
            padding-left: 1.7rem;
            img {
              display: block;
              object-fit: cover;
              width: 60px;
              border-radius: 5px;
              border: 1px solid var(--cardBorder);
            }
          }
          .productCartName {
            text-align: left;
            vertical-align: middle;
            padding-right: 5rem;
          }
          .productCartPrice {
            /* background-color: lightcoral; */
            vertical-align: middle;
          }
          .productCartQty {
            /* background-color: lightgoldenrodyellow; */
            vertical-align: middle;
            input {
              font-size: 1.4rem;
              display: inline-block;
              height: 3.8rem;
              padding: 0 1rem;
              margin: 0;
              gap: 0;
              border-radius: 0;
              color: var(--amountItemsFiltered);
              background-color: white;
              border: 1px solid var(--cardBorder);
            }
            button {
              font-size: 1.4rem;
              display: inline-block;
              height: 3.8rem;
              padding: 0 1rem;
              margin: 0;
              gap: 0;
              border-radius: 0;
              color: var(--amountItemsFiltered);
              background-color: white;
              border: 1px solid var(--cardBorder);
              cursor: pointer;
              &:hover {
                background-color: var(--amountItemsFiltered);
                color: white;
              }
            }
          }
          .productCartTotalQtyPrice {
            /* background-color: lightsalmon; */
            vertical-align: middle;
          }
          .productCartDelete {
            /* background-color: lightseagreen; */
            vertical-align: middle;
          }
        }
      }
    }
  }
  hr {
    height: 1px;
    margin: 2rem 2rem;
    max-width: 1200px;
    color: lightgray;
    background: lightgray;
    font-size: 0;
    border: 0;
  }
  .productCartTotalPrice {
    color: var(--amountItemsFiltered);
    font-size: 1.5rem;
    padding: 2rem;
    display: flex;
    justify-content: right;
    align-items: right;
    margin-right: 21.8rem;
  }
  .checkOut {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin: 3rem 0 2rem 0;
    .linksCheckOut {
      display: flex;
      gap: 2rem;
    }
    button {
      color: white;
      width: 12rem;
      height: 4rem;
      background-color: var(--navTop);
      border-radius: 5px;
      border: none;
      transition: all 200ms;
      cursor: pointer;
      &:hover {
        background-color: var(--buttonHover);
        color: white;
      }
    }
    a {
      color: var(--amountItemsFiltered);
      font-size: 1.5rem;
      transition: all 200ms;
      &:hover {
        color: var(--buttonHover);
      }
    }
  }
}
