.slideContainer {
  width: 100%;
  height: auto;
  overflow: hidden;
  .eachFade {
    width: 100%;
    height: 100%;
    position: relative;
    aspect-ratio: 16/9;
    img {
      display: block;
      object-fit: cover;
      width: 100% !important;
      height: 100%;
    }
    .sliderContent {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      .textContent1 {
        margin-bottom: 8rem;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 5.5rem;
        font-weight: 900;
        line-height: 6.8rem;
        text-align: center;
      }
      .textContent2 {
        margin-bottom: 8rem;
        font-size: 5.5rem;
        font-weight: 900;
        line-height: 6.8rem;
        text-align: center;
        color: black;
        div {
          margin-bottom: 1rem;
        }
        h3 {
          font-size: 5.5rem;
          font-weight: 900;
          line-height: 6.8rem;
          text-align: center;
          color: var(--black-like);
        }

        h3 span {
          text-decoration: underline;
          color: var(--navTop);
        }
      }
      .subscribe {
        position: relative;
        width: 100%;
        input {
          width: 45rem;
          height: 6.4rem;
          background-color: #fff;
          border: none;
          border-radius: 5rem;
          padding: 2.5rem 10rem 2.5rem 4rem;
          font-family: "Lato", serif;
        }
      }
      .shopNow {
        position: absolute;
        bottom: 10%;
        right: 40%;
      }
      button {
        position: absolute;
        top: 0rem;
        right: 0rem;
        width: 15.7rem;
        height: 6.4rem;
        border-radius: 5rem;
        border: none;
        background-color: var(--greenSubmit);
        color: #ffffff;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
        letter-spacing: 0.5px;
        cursor: pointer;
        transition: all 200ms;
        &:hover {
          background-color: var(--borderButtonGreen);
        }
      }
    }
  }
}
