.container {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    line-height: 24.5px;
    letter-spacing: 0.48px;
    font-size: 14px;
    h1 {
      font-size: 36px;
      font-weight: 700;
      margin: 2rem 0;
      line-height: 46px;
      color: var(--black-like);
    }
    h2 {
      font-size: 22px;
      line-height: 33px;
      margin: 2rem 0;
    }
    p {
      margin: 2rem 0;
    }
    ul {
      list-style-type: disc;
      margin-left: 2rem;
      &:first-of-type {
        list-style-type: "-  ";
      }
    }
  }