.slider {
  display: inline;
  height: 85rem;
  .slide1 {
    background-color: lightcoral;
    background-image: url("/src/images/slider1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .slide1_content {
      padding: 27.2rem 0 27.2rem 31rem;
      width: 50%;
      h3 {
        font-weight: 700;
        font-size: 2rem;
        letter-spacing: 0.48px;
        span {
          color: red;
          text-decoration: underline;
        }
      }
      h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: 5.5rem;
        line-height: 6.8rem;
        letter-spacing: 0.48px;
        margin: 3rem 0;
      }
      p {
        font-family: Poppins;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2.6rem;
        color: rgba(122, 122, 122, 1);
        letter-spacing: 0.48px;
      }
      button {
        background-color: #f53e32;
        color: white;
        width: 11.8rem;
        height: 4rem;
        border-radius: 0.5rem;
        border: 1px solid #f53e32;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.68rem;
        margin: 3rem 0;
      }
    }
  }
  .slide2 {
    background-color: lightgreen;
    background-image: url("/src/images/slider2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    padding: 27.2rem 31.8rem 27.2rem 13.9rem;
    .slide2_content {
      width: 40%;
      > h3 {
        font-weight: 700;
        font-size: 2rem;
        letter-spacing: 0.48px;
        span {
          color: red;
          text-decoration: underline;
        }
      }
      > h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: 5.5rem;
        line-height: 6.8rem;
        letter-spacing: 0.48px;
        margin: 3rem 0;
      }
      > p {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2.6rem;
        color: #7a7a7a;
        letter-spacing: 0.48px;
        margin: 4.5rem 0 4.9rem 0;
      }
      > div {
        position: relative;
        width: 45rem;
        > input {
          width: 45rem;
          height: 6.4rem;
          background-color: #fff;
          border: none;
          border-radius: 5rem;
          padding: 2.5rem 10rem 2.5rem 4rem;
          border-radius: 5rem;
        }
        > button {
          position: absolute;
          top: 0;
          right: 0;
          width: 15.7rem;
          height: 6.4rem;
          border-radius: 5rem;
          border: none;
          background-color: #3bb77e;
          color: #ffffff;
          font-family: Quicksand;
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 2.4rem;
          letter-spacing: 0.5px;
        }
      }
    }
  }
}
