@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  font-size: 62.5%;
  font-family: "Manrope", serif;
  --navTop: #f53e32;
  --buttonHover: #7e1811;
  --cardBorder: #e9e9e9;
  --filter: #f7f7f8;
  --borderButtonRed: #64b496;
  --amountItemsFiltered: #7a7a7a;
  --tagHover: #6e6e6e;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 2rem;
  color: white;
  main {
    .headerNav {
      height: 70px;
      background-color: var(--navTop);
      margin-bottom: 10rem;
      nav {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        align-items: center;
        height: 100%;
        max-width: 1300px;
        font-family: "Manrope", serif;
        font-weight: 600;
        font-size: 1.9rem;
        letter-spacing: 1px;
        a {
          text-decoration: none;
          color: white;
          &:hover {
            color: var(--buttonHover);
          }
        }
        div {
          font-size: 1.4rem;
          font-weight: 500;
        }
      }
    }
    .shoppingCartCrud {
      margin: 0 auto;
      background-color: lightgreen;
      width: 1320px;
      height: 672px;
      .crud {
        margin: 0 auto;
        width: 1296px;
        height: 602px;
        border-radius: 0.5rem;
        border: 1px solid var(--cardBorder);
        background-color: var(--filter);
        color: black;
        table {
          .tableHead {
            background-color: var(--cardBorder);
            text-align: left;
            th {
              padding: 2rem;
              width: 100%;
            }
          }
          .tableData {
            td {
              padding: 2rem;
              &:first-of-type {
                display: flex;
                align-items: center;
                gap: 2rem;
                img {
                  display: block;
                  object-fit: cover;
                  width: 100px;
                  border-radius: 5px;
                  border: 1px solid var(--cardBorder);
                }
              }
            }
          }
        }
      }
      .checkOut {
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;
        margin-top: 3rem;
        button {
          color: white;
          width: 12rem;
          height: 4rem;
          background-color: var(--navTop);
          border-radius: 5px;
          border: none;
          transition: all 200ms;
          cursor: pointer;
          &:hover {
            background-color: var(--buttonHover);
            color: white;
          }
        }
        a {
          color: var(--amountItemsFiltered);
          font-size: 1.5rem;
        }
      }
    }
  }
}
