@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  font-size: 62.5%;
  font-family: "Manrope", serif;
  --navTop: #f53e32;
  --buttonHover: #7e1811;
  --cardBorder: #e9e9e9;
  --filter: #f7f7f8;
  --borderButtonRed: #64b496;
  --amountItemsFiltered: #7a7a7a;
  --tagHover: #6e6e6e;
  --crudFont: #444444;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 2rem;
  font-family: "Manrope", serif;
  color: white;
  main {
    .headerNav {
      height: 70px;
      background-color: var(--navTop);
      margin-bottom: 10rem;
      nav {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        align-items: center;
        height: 100%;
        max-width: 1300px;
        font-family: "Manrope", serif;
        font-weight: 600;
        font-size: 1.9rem;
        letter-spacing: 1px;
        a {
          text-decoration: none;
          color: white;
          &:hover {
            color: var(--buttonHover);
          }
        }
        div {
          font-size: 1.4rem;
          font-weight: 500;
        }
      }
    }
    .shoppingCartCrud {
      margin: 0 auto;
      background-color: lightgreen;
      width: 1320px;
      height: 672px;
      .crud {
        margin: 0 auto;
        width: 1296px;
        height: auto;
        border-radius: 0.5rem;
        border: 1px solid var(--cardBorder);
        background-color: var(--filter);
        color: black;
        table {
          width: 100%;
          text-align: left;
          .tableHead {
            background-color: var(--cardBorder);
            font-size: 1.5rem;
            font-weight: 500;
            color: var(--crudFont);
            th {
              padding: 2rem 1.9rem 2rem 2rem;
              text-align: center;
              &:nth-child(1) {
                text-align: left;
              }
            }
          }
          .tableData {
            color: var(--amountItemsFiltered);
            background-color: lightblue;
            text-align: center;
            font-size: 1.5rem;

            .productCartImage {
              background-color: lime;
              width: 0px;
              padding-left: 1.7rem;
              img {
                display: block;
                object-fit: cover;
                width: 60px;
                border-radius: 5px;
                border: 1px solid var(--cardBorder);
              }
            }
            .productCartName {
              text-align: left;
              vertical-align: middle;
              padding-right: 5rem;
            }
            .productCartPrice {
              background-color: lightcoral;
              vertical-align: middle;
            }
            .productCartQty {
              background-color: lightgoldenrodyellow;
              vertical-align: middle;
              button {
              }
            }
            .productCartTotalPrice {
              background-color: lightsalmon;
              vertical-align: middle;
            }
            .productCartDelete {
              background-color: lightseagreen;
              vertical-align: middle;
            }
          }
        }
      }
      .checkOut {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        margin: 3rem 0 2rem 0;
        button {
          color: white;
          width: 12rem;
          height: 4rem;
          background-color: var(--navTop);
          border-radius: 5px;
          border: none;
          transition: all 200ms;
          cursor: pointer;
          &:hover {
            background-color: var(--buttonHover);
            color: white;
          }
        }
        a {
          color: var(--amountItemsFiltered);
          font-size: 1.5rem;
          transition: all 200ms;
          &:hover {
            color: var(--buttonHover);
          }
        }
      }
    }
  }
}
