@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  font-size: 62.5%;
  font-family: "Manrope", serif;
  --navTop: #f53e32;
  --buttonHover: #7e1811;
  --cardBorder: #e9e9e9;
  --filter: #f7f7f8;
  --borderButtonRed: #64b496;
  --amountItemsFiltered: #7a7a7a;
  --tagHover: #6e6e6e;
  * {
    box-sizing: border-box;
  }
  body {
    font-size: 2rem;
  }
}
